@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100&display=swap');

.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product > p{
    font-weight: 900;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}    

.product{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.container {
  padding: 0px !important;
  margin: 0 0 0 2% !important;
}

.next-button-container{
  display: flex;
  justify-content: center;
}

.next-button {
  display: inline-block;
  border-radius: 4px;
  background-color: black !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2.5px;
}

.next-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.next-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.next-button:hover span {
  padding-right: 25px;
}

.next-button:hover span:after {
  opacity: 1;
  right: 0;
}

/* HEADER>PHTML NAVIGATION BAR CSS */

.toolbar {
  display: flex;
  flex-direction: row;
  background-color: white;
  top: 0px;
  left: 0px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  box-shadow: 0px 0px 5px #aaaaaa;
  max-height: 50px;
}

.topnav {
  overflow: auto;
  background-color: white;
  top: 50px;
  left: 0px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  box-shadow: 0px 0px 2.5px #aaaaaa;
  margin: 0px 0px 50px 0px;
  max-height: 40%;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 3px;
}

.topnav a:hover {
  color: #d62598;
}

.pb {
  margin-left: auto;
  margin-right: 0px;
}

.icons {
  margin-right: 0;
  margin-left: auto;
}

i {
  margin: 5px 3px 0 3px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1200px) {

  .topnav a {display: none;}

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
